.wrapper {
  position: relative;
}

.active,
.active * {
  cursor: none !important;
}

.content {
  position: relative;
}

.lens {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  will-change: transform;
  z-index: 50;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  will-change: transform;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  border: none;
  pointer-events: none;
  z-index: 60;
  will-change: transform;
}
